@if (matchResource.isLoading()) {
  <div class="flex items-center justify-center min-h-screen">
    <span class="loading loading-dots loading-xl"></span>
  </div>
} @else {

  <div class="flex justify-center items-center min-h-screen lg:p-5">
    <div class="grid grid-cols-1 justify-center items-center gap-4 lg:grid-cols-3 lg:m-5 p-10 bg-base-200 rounded">
      <div class="flex flex-col gap-2">
        <h1 class="text-4xl text-[#4a7dd6]">Blue Team</h1>
        @for (participant of blueTeam; track participant.participantId) {
          <div tabindex="0" class="flex flex-col">
            <div class="flex flex-wrap gap-4 items-center">
              <img
                class="w-16 h-16 rounded"
                [alt]="participant.championName"
                src="https://ddragon.leagueoflegends.com/cdn/15.6.1/img/champion/{{participant.championName}}.png">
              <h1 class="text-2xl">
                {{ participant.riotIdGameName }}
              </h1>
              <h1>
                <span class="text-accent">{{ participant.kills }}</span>/<span
                class="text-primary">{{ participant.deaths }}</span>/{{ participant.assists }}
              </h1>
            </div>

            <div class="mb-2 py-3">
              <div class="flex gap-1">
                <img
                  class="w-10 h-10 rounded"
                  [src]="'https://ddragon.leagueoflegends.com/cdn/15.6.1/img/item/' + participant.item0 + '.png' | itemImage"
                  [alt]="participant.championName"
                />
                <img
                  class="w-10 h-10 rounded"
                  [src]="'https://ddragon.leagueoflegends.com/cdn/15.6.1/img/item/' + participant.item1 + '.png' | itemImage"
                  [alt]="participant.championName"
                />
                <img
                  class="w-10 h-10 rounded"
                  [src]="'https://ddragon.leagueoflegends.com/cdn/15.6.1/img/item/' + participant.item2 + '.png' | itemImage"
                  [alt]="participant.championName"
                />
                <img
                  class="w-10 h-10 rounded"
                  [src]="'https://ddragon.leagueoflegends.com/cdn/15.6.1/img/item/' + participant.item3 + '.png' | itemImage"
                  [alt]="participant.championName"
                />
                <img
                  class="w-10 h-10 rounded"
                  [src]="'https://ddragon.leagueoflegends.com/cdn/15.6.1/img/item/' + participant.item4 + '.png' | itemImage"
                  [alt]="participant.championName"
                />
                <img
                  class="w-10 h-10 rounded"
                  [src]="'https://ddragon.leagueoflegends.com/cdn/15.6.1/img/item/' + participant.item5 + '.png' | itemImage"
                  [alt]="participant.championName"
                />
                <img
                  class="w-10 h-10 rounded"
                  [src]="'https://ddragon.leagueoflegends.com/cdn/15.6.1/img/item/' + participant.item6 + '.png' | itemImage"
                  [alt]="participant.championName"
                />
              </div>
            </div>
          </div>
        }

      </div>

      <div class="flex flex-col items-center gap-4">
        <h2 class="text-3xl">{{ blueTeam[0].timePlayed | timePlayed }}</h2>
        <img
          class="w-64 h-64 rounded"
          alt=""
          [src]="'https://ddragon.leagueoflegends.com/cdn/6.8.1/img/map/map' + matchResource.value()!.info.mapId + '.png'">
        <h1 class="text-2xl">
          <span class="text-3xl text-[#4a7dd6]">{{ blueTeamKills }}</span>/<span
          class="text-3xl text-[#d41a44]">{{ redTeamKills }}</span>
        </h1>
        @if (matchResource.value()!.info.mapId === 11) {
          <div class="grid grid-cols-2 justify-center gap-2 w-4/5">
            <!-- Left Column (Blue Team Drakes) -->
            <div class="flex flex-col items-center">
              <h1 class="text-[#4a7dd6]">Blue team drakes</h1>
              <div class="flex flex-wrap">
                @for (drake of blueTeamDrakes(); track $index) {
                  <img
                    class="w-8 h-8"
                    [src]="drake | dragonType"
                    alt=""
                  >
                }
              </div>
            </div>

            <!-- Right Column (Red Team Drakes) -->
            <div class="flex flex-col items-center">
              <h1 class="text-[#d41a44]">Red team drakes</h1>
              <div class="flex flex-wrap">
                @for (drake of redTeamDrakes(); track $index) {
                  <img
                    class="w-8 h-8"
                    [src]="drake | dragonType"
                    alt=""
                  >
                }
              </div>
            </div>
          </div>

          <div class="grid grid-cols-2 justify-center gap-2 w-4/5">
            <!-- Left Column (Blue Team Drakes) -->
            <div class="flex flex-col items-center">
              <h1 class="text-[#4a7dd6]">Blue team Nashors</h1>
              <div class="flex flex-wrap items-center gap-2">
                <img
                  class="w-8 h-8"
                  src="./assets/images/Baron_NashorSquare.png"
                  alt=""
                >
                <h1>
                  {{ blueTeamNashors().length }}
                </h1>
              </div>
            </div>

            <!-- Right Column (Red Team Drakes) -->
            <div class="flex flex-col items-center">
              <h1 class="text-[#d41a44]">Red team Nashors</h1>
              <div class="flex flex-wrap items-center gap-2">
                <img
                  class="w-8 h-8"
                  src="./assets/images/Baron_NashorSquare.png"
                  alt=""
                >
                <h1>
                  {{ redTeamNashors().length }}
                </h1>
              </div>
            </div>
          </div>

          <div class="grid grid-cols-2 justify-center gap-2 w-4/5">
            <!-- Left Column (Blue Team Drakes) -->
            <div class="flex flex-col items-center">
              <h1 class="text-[#4a7dd6]">Blue team kevins</h1>
              <div class="flex flex-wrap items-center gap-2">
                <img
                  class="w-8 h-8"
                  src="./assets/images/VoidgrubSquare.png"
                  alt=""
                >

                <h1>
                  {{ blueTeamGrubs().length }}
                </h1>
              </div>
            </div>

            <!-- Right Column (Red Team Drakes) -->
            <div class="flex flex-col items-center">
              <h1 class="text-[#d41a44]">Red team kevins</h1>
              <div class="flex flex-wrap items-center gap-2">
                <img
                  class="w-8 h-8"
                  src="./assets/images/VoidgrubSquare.png"
                  alt=""
                >
                <h1>
                  {{ redTeamGrubs().length }}
                </h1>
              </div>
            </div>
          </div>

          <div class="flex flex-col">
            <h1 class="text-3xl self-center my-3">Información General</h1>
            <div class="grid grid-cols-2 gap-5">
              <div class="flex flex-col">
                <h1 class="text-2xl">Primera sangre</h1>
                <div class="flex gap-2 items-center">
                  <img
                    class="w-10 h-10"
                    src="https://ddragon.leagueoflegends.com/cdn/15.6.1/img/champion/{{firstBloodSummoner.championName}}.png"
                    alt=""
                  >

                  <p
                    [class.text-[#4a7dd6]]="firstBloodSummoner.teamId === 100"
                    [class.text-[#d41a44]]="firstBloodSummoner.teamId === 200"
                  >{{ firstBloodSummoner.riotIdGameName }}</p>
                </div>
              </div>
              <div class="flex flex-col">
                <h1 class="text-2xl">Mató al heraldo</h1>
                <div class="flex gap-2 items-center">
                  <img
                    class="w-10 h-10"
                    src="https://ddragon.leagueoflegends.com/cdn/15.6.1/img/champion/{{heraldKiller.championName}}.png"
                    alt=""
                  >

                  <p
                    [class.text-[#4a7dd6]]="heraldKiller.teamId === 100"
                    [class.text-[#d41a44]]="heraldKiller.teamId === 200"
                  >{{ heraldKiller.riotIdGameName }}</p>
                </div>
              </div>
            </div>
          </div>

        }

      </div>

      <div class="flex flex-col gap-2 items-start">
        <h1 class="text-4xl text-[#d41a44]">Red Team</h1>
        @for (participant of redTeam; track participant.participantId) {
          <div tabindex="0" class="flex flex-col">
            <div class="flex gap-5 items-center">
              <img
                class="w-18 h-18 rounded"
                [alt]="participant.championName"
                src="https://ddragon.leagueoflegends.com/cdn/15.6.1/img/champion/{{participant.championName}}.png">
              <h1 class="text-2xl">
                {{ participant.riotIdGameName }}
              </h1>
              <h1>
                <span class="text-accent">{{ participant.kills }}</span>/<span
                class="text-primary">{{ participant.deaths }}</span>/{{ participant.assists }}
              </h1>
            </div>

            <div class="mb-2 py-3">
              <div class="flex gap-1">
                <img
                  class="w-10 h-10 rounded"
                  [src]="'https://ddragon.leagueoflegends.com/cdn/15.6.1/img/item/' + participant.item0 + '.png' | itemImage"
                  [alt]="participant.championName"
                />
                <img
                  class="w-10 h-10 rounded"
                  [src]="'https://ddragon.leagueoflegends.com/cdn/15.6.1/img/item/' + participant.item1 + '.png' | itemImage"
                  [alt]="participant.championName"
                />
                <img
                  class="w-10 h-10 rounded"
                  [src]="'https://ddragon.leagueoflegends.com/cdn/15.6.1/img/item/' + participant.item2 + '.png' | itemImage"
                  [alt]="participant.championName"
                />
                <img
                  class="w-10 h-10 rounded"
                  [src]="'https://ddragon.leagueoflegends.com/cdn/15.6.1/img/item/' + participant.item3 + '.png' | itemImage"
                  [alt]="participant.championName"
                />
                <img
                  class="w-10 h-10 rounded"
                  [src]="'https://ddragon.leagueoflegends.com/cdn/15.6.1/img/item/' + participant.item4 + '.png' | itemImage"
                  [alt]="participant.championName"
                />
                <img
                  class="w-10 h-10 rounded"
                  [src]="'https://ddragon.leagueoflegends.com/cdn/15.6.1/img/item/' + participant.item5 + '.png' | itemImage"
                  [alt]="participant.championName"
                />
                <img
                  class="w-10 h-10 rounded"
                  [src]="'https://ddragon.leagueoflegends.com/cdn/15.6.1/img/item/' + participant.item6 + '.png' | itemImage"
                  [alt]="participant.championName"
                />
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
}
